.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 10px;
    padding: 30px;
    .navbar-top {
        text-align: center;
        line-height: 60px;
        .top-title {
            color: var(--four-color);
            font-size: 50px;
            font-weight: bold;
        }
        .top-description {
            font-size: 20px;
            color: var(--three-color);
        }
    }

    .navbar-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: var(--primary-color);
        padding: 5px;
        border-radius: 10px;
        width: fit-content;
        grid-gap: 5px;
        li {
            list-style: none;
            cursor: pointer;
            a {
                display: flex;
                align-items: center;
                gap: 10px;
                text-decoration: none;
                list-style: none;
                padding: 5px 50px;
                transition: all 0.3s;
                border-radius: 5px;
                font-size: 17px;
                color: var(--three-color);
                .icon {
                    font-size: 17px;
                }
                &:hover {
                    background-color: var(--bg-accent-color);
                    color: var(--accent-color);
                }
            }
        }
    }

    .active{
        a{
            background-color: var(--bg-accent-color);
        }
    }
}

@media (max-width: 469px) {
    .navbar {
        .navbar-top {
            line-height: 30px;
            .top-title {
                font-size: 20px;
            }
            .top-description {
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 726px) {
    .navbar {
        .navbar-top {
            line-height: 30px;
            .top-title {
                font-size: 20px;
            }
            .top-description {
                font-size: 15px;
            }
        }
        .navbar-bottom {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: var(--primary-color);
            padding: 5px;
            border-radius: 10px;
            width: fit-content;
            li {
                list-style: none;
                cursor: pointer;
                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    text-decoration: none;
                    list-style: none;
                    padding: 5px 20px;
                    transition: all 0.3s;
                    border-radius: 5px;
                    font-size: 17px;
                    color: var(--three-color);
                    .icon {
                        font-size: 17px;
                    }
                    &:hover {
                        background-color: var(--bg-accent-color);
                        color: var(--accent-color);
                    }
                }
            }
        }
    }
}