.likes {
  padding: 1.5rem;

  .likes-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    color: var(--three-color);
    animation: marginLeft 0.5s forwards;
  }

  .likes-empty {
    text-align: center;
    font-style: italic;
    color: #888;
  }

  .wordBox{
    margin: 25px 0px;
  }
}
