* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--bg-color);
}

.container {
    max-width: 1200px;
    margin: auto;
}

:root {
    --bg-color: #eef2ff;
    --bg-accent-color: #ffffff;

    --primary-color: #f4f4f5;
    --accent-color: #18181b;
    --three-color: #8e908a;
    --four-color: #5050eb;
}

//btns
.levelBtn {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid var(--three-color);
    color: var(--accent-color);
    background-color: transparent;
    padding: 0px 30px;
    position: relative;
    .levels{
        border-radius: 10px;
    }
    &:hover .levels {
        visibility: visible;
    }
}

.volumeBtn {
    padding: 0px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    .volumeIcon {
        font-size: 20px;
        color: var(--three-color);
        transition: all 0.3s;
        &:hover {
            color: var(--four-color);
        }
    }
}

.quizLevelBtn {
    width: 100%;
    background-color: var(--four-color);
    padding: 20px 60px;
    border-radius: 20px;
    border: 1px solid var(--three-color);
    color: var(--bg-color);
    cursor: pointer;
    font-size: 17px;
}

.backBtn {
    background-color: #8e908a62;
    border: none;
    border-radius: 20px;
    padding: 2px 10px;
    width: fit-content;
    a {
        list-style: none;
        text-decoration: none;
        color: var(--accent-color);
        &:hover {
            color: var(--accent-color);
        }
    }
}

.quiz-btn {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--four-color);
    cursor: pointer;
    color: var(--primary-color);
    transition: all 0.3s;
    animation: scale 0.6s forwards;

    &:hover {
        background-color: #5050eb9a;
    }
}

.addBtn {
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    background-color: var(--four-color);
    color: white;
    cursor: pointer;
}

.removeBtn {
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    background-color: var(--four-color);
    color: white;
    cursor: pointer;
}
//others
.canYouSearch {
    color: var(--three-color);
    width: fit-content;
    margin: auto;
    padding: 50px 100px;
    margin: auto;
    background-color: var(--bg-accent-color);
    border-radius: 20px;
    font-size: 17px;
    animation: animationcanYouSearch 0.3s forwards;
}

.undefined {
    color: red;
    width: fit-content;
    margin: auto;
    padding: 50px 100px;
    margin: auto;
    background-color: rgba(255, 0, 0, 0.563);
    border-radius: 20px;
    font-size: 17px;
    animation: animationundefined 0.3s forwards;
}

@keyframes animationcanYouSearch {
    0% {
        transform: translateY(-10px);
        opacity: 0;
        transform: scale(0.1);
    }
    100% {
        transform: translateY(10px);
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes animationundefined {
    0% {
        transform: translateY(-10px);
        color: transparent;
        background-color: rgba(255, 0, 0, 0);
        transform: scale(0.1);
    }
    100% {
        transform: translateY(10px);
        color: red;
        background-color: rgba(255, 0, 0, 0.405);
        transform: scale(1);
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes marginLeft {
    0% {
        margin-left: -100px;

        opacity: 0;
    }
    100% {
        margin-left: 0px;
        opacity: 1;
    }
}

//wordBox

.wordBox {
    display: grid;
    width: 100%;
    grid-gap: 20px;
    height: fit-content;
    background-color: var(--bg-accent-color);
    padding: 15px;
    border-radius: 10px;
    animation: scale 0.5s forwards;
    .box-top {
        line-height: 30px;
        .top-volume {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            .volume-en {
                font-size: 22px;
                font-weight: 700;
                color: var(--four-color);
            }
        }
        .box-uz {
            color: var(--three-color);
            font-style: italic;
            font-size: 20px;
        }
    }

    .box-infos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        grid-gap: 5px;
        .infos-word {
            padding: 2px 10px;
            border: 1px solid var(--three-color);
            border-radius: 25px;
        }
    }

    .box-examples {
        display: grid;
        grid-gap: 10px;
        background-color: var(--primary-color);
        padding: 10px;
        border-radius: 10px;
        .examples-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            .top-en {
                font-weight: 700;
                font-size: 15px;
                color: var(--four-color);
            }
        }

        .examples-uz {
            font-style: italic;
            color: var(--three-color);
        }
    }
}

//levels

.levels {
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 30px;
    display: grid;
    grid-gap: 3px;
    font-size: 15px;
    z-index: 99;
    background-color: var(--bg-color);
    li {
        list-style: none;
        cursor: pointer;
        padding: 2px 10px;
        &:hover {
            background-color: var(--bg-accent-color);
        }
    }
}
