* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 1150px;
    margin: auto;
}

:root {
    --bg-color:#e8efff;
    --primary-color:#1d4ed8;
    --primary-opacity-color: #1d4fd87f;
    --accent-color: rgb(128, 128, 128);
    --accent-opacity-color  : rgba(128, 128, 128, 0.155);
}


.audioBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        transform: scale(1.1);
    }
    img{
        width: 25px;
    }
}